<div class="container">
  <div class="card p-5 mt-5">
    <form>
      <mat-form-field appearance="outline">
        <mat-label>Employee Id</mat-label>
        <input
          matInput
          placeholder="Employee Id"
          name="employeeId"
          [(ngModel)]="employee.employeeId"
        />
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Employee Name</mat-label>
        <input
          matInput
          placeholder="Employee Name"
          name="employeeName"
          [(ngModel)]="employee.employeeName"
        />
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Contact Number</mat-label>
        <input
          matInput
          placeholder="Contact Number"
          name="employeeContactNumber"
          [(ngModel)]="employee.employeeContactNumber"
        />
        <mat-icon matSuffix>call</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Employee Address</mat-label>
        <input
          matInput
          placeholder="Employee Address"
          name="employeeAddress"
          [(ngModel)]="employee.employeeAddress"
        />
        <mat-icon matSuffix>home</mat-icon>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Choose an option</mat-label>
        <mat-select>
          <mat-option value="option1">Option 1</mat-option>
          <mat-option value="option2" disabled>Option 2 (disabled)</mat-option>
          <mat-option value="option3">Option 3</mat-option>
        </mat-select>
      </mat-form-field>

      <div>
        <Label>Gender</Label>
        <mat-radio-group aria-label="Select an option">
          <mat-radio-button value="1">Option 1</mat-radio-button>
          <mat-radio-button value="2">Option 2</mat-radio-button>
        </mat-radio-group>
      </div>

      <div>
        <Label>Skills</Label>
        <section class="example-section">
          <mat-checkbox class="example-margin">Checked</mat-checkbox>
          <mat-checkbox class="example-margin">Indeterminate</mat-checkbox>
        </section>
      </div>

      <mat-divider></mat-divider>

      <div class="text-center mt-3">
        <button mat-raised-button class="m-2">Clear</button>
        <button mat-raised-button color="primary" class="m-2">Save</button>
      </div>
    </form>
  </div>
</div>
